<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RPS Result</title>
</head>
<body>
	<p><%= @player_name%></p>
	<p><%= @turns%></p>
	<p>Your choice : <%= @player_choice%></p>
	<p>Computer's choice : <%= @computer_choice%></p>
	<h1><%= @outcome %></h1>
	<a href="/">Play again</a> 
</body>
</html>